body{
background-color:#000;
font-family:Verdana;
font-size:1em;

}

#container{
background-color:#fafafa;
margin:auto;
padding:15px;
width:75%;

}

.feed_item{
margin-bottom:10px;
}

.published{
font-size:.8em;
font-style:italic;
}


.content{
font-size:.9em;
line-height:1.5;
}


h1{
font-size:1.4em;
padding-bottom:3px;
border-bottom:2px solid gray;

}

h2{
font-size:1.2em;
}
